@font-face {
    font-family: "13Misa";
    src: url(fonts/13Misa.TTF) format('truetype');
}    
    
    
    body {
        display: flex;
        background-color: #120f22;
        color: white;
        /*background-color: black;*/
    }

    #mainContainer {
        display: flex;
    }

    #leftContainer {
        display: inline-block;
        position: relative;
        width: 40vw;
        height: 100vh;
    }

    #rightContainer {
        width: 60vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
    }

    #leftPicture {
        height: 100vh;
        width: 100%;
    }

    #formContainer {
        width: 100%;
        background-color: #332d5c;
        padding-top: 2vh;
        padding-bottom: 2vh;

    }

    .dataEntryContainer {
        display: flex;
        flex-direction: column;

    }

    form {
        display: flex;
        width: 100%;
        margin-left: 5vw;
        margin-right: 20vw;
        flex-direction: column  ;
    }

    .formLine {
        display: flex;
        justify-content: left;
        gap: 5rem ;

    }

    input:focus {
        border-color: blue;
        outline: none;
    }

    input {
        width: 12rem;
        height: 1.5rem;
    }

    #headerMsg {
        margin-left: 5vw;
        width: 75%;
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 20vh;
        padding-bottom: 10vh;
    
    }

    #signUpMsg {
        margin-left: 5vw;
        padding-top: 2rem;
        padding-bottom:2rem
    }
    #buttonContainer {
        margin-top: 2vh; 
        margin-left: 5vw;
        margin-bottom: 2vh; 
    }

    #submitButton {
        background-color:#e25482;
        width: 10rem;
        height: 3rem;
        border-radius: 10px;
    }

    #bottomText {
        margin-left: 5vw;
    }

    #imageBody {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: calc(100vh/8);

        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;

        background-color: rgba(0,0,0,0.6);
        color: white;
        font-size: 5REM;

    }

    #imageText {
        font-family: "13Misa";
    }
    #hydrogen {
        width: 300px;
        height: 300px;
    }