body {
    display: flex;
    /*background-color: black;*/
}

#mainContainer {
    display: flex;
}

#leftContainer {
    width: 40vw;
    height: 100vh;
}

#rightContainer {
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#leftPicture {
    height: 100%;
    width: 100%;
}

#formContainer {
    display: flex;
}

.dataEntryContainer {
    display: flex;
    flex-direction: column;

}

form {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-direction: column;
}

.formLine {
    display: flex;
}